:root {
  --ll-button-color: #22c563;
  --ll-button-text-color: #000000;
  --ll-button-border-color: #22c563;
  --ll-radius: 10px;
  --ll-align: start;
  --ll-font-size: 16px;
  --ll-focus-color: #22c563;
  --ll-error-color: #ff0000;
  --ll-input-background: #ffffff;
  --ll-input-color: #374151;
  --ll-input-border: #cccccc;
  --li-wrap-items: nowrap;
  /* --li-item-width: auto; */
  --li-item-width: auto;
  --li-margin-right: 10px;
}

body {
  background: url("./assets/disasterBg.jpg") no-repeat center center/cover;
  width: 100vw;
  height: 100vh;
}

.logoWrap {
  margin-left: 40px;
}

.mainLogo {
  width: 180px;
  margin-top: 40px;
}

.title {
  color: #ffc529;
  font-family: "Sora", sans-serif;
  font-size: 55px;
  line-height: 1.375;
  font-weight: 600;
  margin-top: 70px;
}

.descWrap {
  margin-top: 40px;
  margin-bottom: 50px;
}

.descriptionText {
  font-size: 19px;
  font-family: "Sora", sans-serif;
  color: #fff;
  width: 50%;
}

.launchlist-form {
  margin: 15px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: var(--ll-align);
  -ms-flex-align: var(--ll-align);
  align-items: var(--ll-align);
}

.launchlist-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  -ms-flex-wrap: var(--li-wrap-items);
  flex-wrap: var(--li-wrap-items);
}

.launchlist-input-wrapper {
  margin-right: var(--li-margin-right);
  margin-bottom: 10px;
  width: var(--li-item-width);
}

.launchlist-input-wrapper input {
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  border-color: var(--ll-input-border);
  border-radius: var(--ll-radius);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: var(--ll-font-size);
  color: var(--ll-input-color);
  background-color: var(--ll-input-background);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  opacity: 1;
  font-family: "Sora", sans-serif;
}

.launchlist-button {
  width: var(--li-item-width);
  background-color: #ffc529;
  color: #000;
  padding: 12px 30px;
  /* border: 1px solid var(--ll-button-border-color); */
  border: none;
  border-radius: var(--ll-radius);
  cursor: pointer;
  font-size: var(--ll-font-size);
  margin: 0;
  -webkit-border-radius: var(--ll-radius);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  opacity: 1;
  font-family: "Sora", sans-serif;
}

@media (max-width: 425px) {
  body {
    width: 100vw !important;
    height: 100vh;
  }
  .title {
    margin-top: 50px;
    font-size: 25px;
    width: 100%;
  }
  .mainLogo {
    width: 100px;
    margin-top: 30px;
  }
  .descriptionText {
    font-size: 16px;
    width: 100%;
  }
  .logoWrap {
    margin-left: 18px;
  }
  .launchlist-wrapper {
    flex-direction: column;
  }
  .launchlist-input-wrapper input {
    width: 100%;
    padding: 8px 20px;
    font-size: 14px;
  }

  .launchlist-button {
    width: var(--li-item-width);
    color: #000;
    padding: 8px 30px;
    font-size: 14px;
  }
}
